.header {
	position: relative;
	border-bottom: 1px solid navy;

	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.searchBar {
			width: 60%;
		}
	}

	.headerLinks {
		display: flex;
		gap: 20px;
		a {
			font-size: 20px;
			color: navy;
		}
	}
}
