.profile {
  margin-top: 60px;
}

.avatar {
  margin-bottom: 20px;
}

.inputField {
  margin: 10px !important;
  width: 200px;
}

.profileButton {
  margin-top: 20px;
}

.datePicker {
  width: 200px;
  margin: 10px;
}

.typography {
  margin: 10px;
}